# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv

# IDE
.vscode/

# Testing
.coverage
.coverage*
.pytest_cache/
.mypy_cache/


# Logs
*.log
logs/

.DS_Store

# Certs
certs/

# Data
data/

# Scratch / Temp
scratch/
