# Environment variables
.env
.env.e2e
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
venv/
.venv/

# Poetry
.poetry/

# IDE / Editor specific
.vscode/
*.swp
*~

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

# Misc
.DS_Store

# ruff
.ruff_cache/
scratch/
**/.claude/settings.local.json
