# Environment variables
.env
.env.e2e

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
develop-eggs/
*.egg-info/
*.egg
venv/
.venv/
env/
.env/

# Poetry
.poetry/

# IDE / Editor specific
.idea/
.vscode/
*.swp
*~

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
logs/

.DS_Store

# Certs
certs/

# Data
data/

# Scratch / Temp
scratch/