# fly.toml file generated for luthien-control

app = "luthien-control"
primary_region = "" # You should set your desired primary region here, e.g., "lax"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024

[deploy]
  release_command = "poetry run python db/run_migrations.py"

[env]